@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display:wght@600&display=swap');

body {
    
    font-family: 'Montserrat', sans-serif;
    background-image: url("campus1.gif"); 
    background-repeat: no-repeat;
    background-size: 100%;
    display:flex;
    justify-content: center;
    align-items:center;

}
h1{ font-size:70px; 
	font-weight: bold;

}
.logo {
    position:absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
}
.main-block {
	width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right:50px;
   
}
form {
	width: 100%;
	margin:0px;
	background: #ffffff20;
	background: rgba(50,50, 50, 0.4);    
	border-radius: 12px; 
    box-shadow: 10px 25px 2px 10px rgba(0, 0, 0, 0.1);
}
.title {
    display:block;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 20px;
    padding: 0px 0px 0px 0px;
    color: #A12B05;
}

.info {
    display:flex;
    flex-direction: column;
    margin: 0 30px;
    width: 86%;
    }

input, select {
    padding: 5px;
    margin-bottom: 10px;
    background: transparent;
    border: none;
    font-family: 'Forum', cursive;
    font-size: 15px;
    font-weight: bold;
    color: #eee;
    border-bottom: 1px solid #eee;
} 
   
input::placeholder {
    color:white;
}

option:focus {
    border:none;
    }
option {
    background:#0A4854; 
    border:thin;
   }

button {
    padding: 10px 5px;
    margin-top: 12px;
    margin-left: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
    border-radius: 15px; 
    border: none;
    background: #6520F7; 
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    width:520px;
}

button:hover{
    background: #099144;
}


@media screen and (max-width: 1050px){
    body{
        background-size: 380%
    }
    .main-block{
        width: 80%;
        margin: 230px 0 0;
    }

    }

@media screen and (max-width:600px){
    body{
        background-image: url("campus.gif");
        background-size: 200%;
    }
    .logo{
        left: auto;
    }
    .main-block{
        width: 75%;
        margin: 70px 0 0;
    }
    form{
        margin: 80px;
        padding: 30px 25px 35px;
    }
    .title{
        padding: 0;
    }
